/bin/
*.pref
*.xml
*.resources
*.snap
*.index
*.metadata
*.Dat
*.xmi
*.metadata
*.recommender
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.resources

*.resources

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

*.ini
